<h1>Listing pet_kinds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_kinds.each do |pet_kind| %>
      <tr>
        <td><%= pet_kind.name %></td>
        <td><%= link_to 'Show', pet_kind %></td>
        <td><%= link_to 'Edit', edit_pet_kind_path(pet_kind) %></td>
        <td><%= link_to 'Destroy', pet_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet kind', new_pet_kind_path %>
