<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :breed_id%><br>
        <%= f.text_field :breed_id %>
      </div>

      <div class="field">
        <%= f.label :age %><br>
        <%= f.number_field :age %>
      </div>
      
      <div class="field">
        <%= f.label :sex %><br>
        <%= f.number_field :sex %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar, :class => "image-choice-button" %>
      <div class="field">
      
      <div class="actions">
        <%= f.submit 'Create pet!', :class => 'btn btn-block btn-lg btn-primary' %>
      </div>
<% end %>
