<div class="col-md-3 col-sm-3 col-xs-0"></div>
    <div class="container col-md-6 col-sm-6 col-xs-12">
    <table class="table table-striped ">
    	<thead>
            <tr>
                <th>Rank</th>
                <th>Pet</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Avg Rating</th>
            </tr>
        </thead>
      <tbody>
        <% x=0 %>
        <% @ratings.each do |r|
            next if r[:pet] == nil
            x+=1 %>
            <tr>
                <td style="font-size:30px; text-align:center;"><%= x %></td>
                <td><%= image_tag r[:pet].avatar.url(:medium), :style =>'width: 75px; height: 75px;' if r[:pet].avatar %></td>
                <td><a href=<%= r[:pet].id %> ><%= r[:pet].name %> </a></td>
                <td><%= r[:pet].user && r[:pet].user.screen_name ? r[:pet].user.screen_name : "" %></a></td>
                <td>
                    <%= number_with_precision(r[:rating].to_s, precision: 2)  %>
                 </td>
            </tr>
         <% end %>
      </tbody>
    </table>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-0"></div>

                    