


    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-0"></div>
              <div class="thumbnail  col-md-6 col-sm-6" style="padding: 0">
                <!-- images -->
                  

                  <%= image_tag(@pet.avatar.url(:original)) %><!--.url(:thumbnail)-->
                  <%#= raise @pet.avatar.url %>
                  <!-- Name, age, breed -->
                        <div class="panel panel-default">
                            <div class="panel-body col-md-12" style="padding:0px;">
                              <div class="name col-md-12" style="">
                                <p style="padding-top:15px; margin:0px; font-size:36px; text-align:center; color:#4099ff;"><%= @pet.name %></p>
                                  <p>@owner <%=@pet.user_id %></p>
                              </div>
                              <div class="name col-md-12" style="font-size:24px; text-align:center;">
                                <p><%= @pet.age %>,F/M<%= @pet.sex %>, Basset Hound </p>
                              </div>
                            </div> 
                        </div>
                <!-- Pet description -->
                <div class="panel panel-default">
                  <div class="panel-body">
                      <p style=""><%= @pet.description %></p>
                  </div>
                </div>
                <!-- Ratings -->
                <div class="panel panel-default">
                  <div class="panel-body" style="padding-top:0px;">
                    <div class="name col-md-12" style="font-size:36px; text-align:center; color:#FFD700;">
                      <p style="margin:0">My Ratings</p>
                    </div>
                    <div class="view">
                      View Count: x
                    </div>
                    <div class="rating">
                      Average Rating: y
                    </div>
                      
                    
                <!-- Submit Button  -->
                <div class="panel panel-default" style="margin-bottom:0px">
                  <div class="panel-body" style="padding:0px;">
                    <button type="button" class="btn btn-warning btn-lg col-md-6 col-sm-6 col-xs-6" style=""><%= link_to 'Edit', edit_pet_path(@pet) %> </button>
                    <button  type="button" class="btn btn-info btn-lg col-md-6 col-sm-6 col-xs-6"><%= link_to 'Back', users_path %></button>
                  </div>
                </div>

              <div class="col-md-3 col-sm-3 col-xs-0"></div>
        </div>
    </div>
  </div>
</div>