<style> 

/*User Profile*/
    
.profile-user {
  overflow: auto;
  padding: 10px 5px;
  background: #eeeeee url("//d36xtkk24g8jdx.cloudfront.net/bluebar/dd6cb37/images/bg/white-gradient-200px.png") repeat-x 50% 50%;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*User Pets*/

.pet{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.petname{
  text-align:center;
  background-color: rgba(0,0,0,0.4);
  margin:auto auto;
  color:white;
}
.petratingandviews{
  text-align:center;
  font-size:20px;
  color:white;
  margin-top:100px;
}

</style>   
<div class="col-md-3 col-sm-3 col-xs-0"></div>
<!-- Center Container -->
	<div class="container" style="overflow:auto;">
		<!-- Grey background -->
        <div class="profile-user col-md-6 col-sm-6" style="">
        	<!-- Image and handle -->
          <div class="row-fluid"  style="height:200px; margin-bottom: 10px;">
              <img src="<%=current_user.profile_image_url.gsub(/_normal/, '') %>" class="img-polaroid" style="height:150px; width:150px; float:left; "/>
              <h2 class="col-md-6 col-xs-6 col-sm-6" style="position:relative; color: #4099FF;"><%= current_user.screen_name %></h2>
              <!-- Need to add if current_user clause --> 
              <button type="button" class="btn btn-default"><%= link_to 'Edit Profile', edit_user_path(current_user.id) %> Edit Profile</button> 
          </div>
        <!-- Description Panel -->
        <div class="panel panel-default" style="">
	        <div class="panel-body">
				<%= current_user.description %>
	        </div>
      	</div>
      <div id="pet" style="color:#4099FF;">
        <h2 style="text-align:center; ">Pets</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <% @pets.each do |p| %> 
          <div class="pet" style="background-image:url(<%=  p.avatar.url(:medium) %>)">
            <div class="petname" style="">
              <h3><%= link_to p.name, pet_path(p.id) %></h3>
            </div>
            <div class="petratingandviews">
              <!-- <%= image_tag p.avatar.url(:medium) %> -->
              <div class="petrating">
                16,256 views
              </div>
              <div class="petviews">
                Average 4.37 stars
              </div>
            </div>
          </div> <% end %>
        </div>
        
      </div>

    </div>
  </div>  

</div>




<div class="col-md-3 col-sm-3 col-xs-0"></div>
</body>