<!DOCTYPE html>
<html>
<head>
	

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<%= javascript_include_tag 'application' %>
	<!-- To ensure proper rendering and touch zooming, add the viewport meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Disables zooming, making app feel more native-like -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Star Rating jQuery  -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

	<script src="/assets/star-rating.min.js" type="text/javascript"></script>

	
<!-- <%= link_to "Sign in with Twitter", "/auth/twitter" %> -->
</head>

<% if params["controller"] != 'betasignup' %>

<body ng-app="spaApp" style="background-image:url('../assets/background.jpg'); background-size:cover;">
<div class="container-fluid">

	<!-- Navbar -->
	<!-- <nav class="navbar navbar-default" role="navigation"> -->
	  <div class="container-fluid" ng-controller="navController">
				<button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn"ng-click="getUrlFeed()">Feed</button>

				<button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn" ng-click="getUrlProfile()">Profile</button>

				<button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn" ng-click="getUrlLeader()">Leaderboard</button>
			
	  </div>
	<!-- </nav> -->

<% else %>
<body>
	<div>
<% end %>
	<% if current_user %>
		<!-- You're logged on as <%= current_user.screen_name %> -->
	<% end %>
	<%= yield %>

	</div>
</body>
</html>
